swagger: '2.0'
basePath: osori.team-penthouse.com/
host: osori.team-penthouse.com/
servers:
  - description: Base Url
    url: 'https://team-penthouse.com/'
info:
  version: 1.0.0
  title: ''
paths:
  /users:
    get:
      tags:
        - User
      responses:
        '200':
          description: OK
  '/user/{userId}':
    get:
      parameters:
        - in: path
          name: userId
          schema:
            type: number
          required: true
          description: 조회할 유저의 ID
      tags:
        - User
      responses:
        '200':
          description: OK
    post:
      tags:
        - User
      responses:
        '200': null
    update:
      tags:
        - User
      parameter: null
      responses:
        '200': null
    delete:
      tags:
        - User
      responses:
        '200': null
  /articles:
    get:
      tags:
        - Articles
      responses:
        '200': null
  '/article/{articleId}':
    get:
      parameters:
        - in: path
          name: articleId
          schema:
            type: number
          required: true
          description: 조회할 글의 ID
      tags:
        - Articles
      responses:
        '200': null
    post:
      tags:
        - Articles
      responses:
        '200': null
    update:
      tags:
        - Articles
      parameter: null
      responses:
        '200': null
    delete:
      tags:
        - Articles
      responses:
        '200': null
definitions:
  UserDto:
    type: object
    required:
      - nickname
      - login_type
    properties:
      id:
        type: number
      loginType:
        type: string
        enum:
          - NONE
          - KAKAO
          - GOOGLE
          - APPLE
      externalId:
        type: number
      nickname:
        type: string
      gender:
        type: string
      email:
        type: string
      name:
        type: string
      phoneNumber:
        type: string
      profileImg:
        type: number
      ageRange:
        type: string
      birthday:
        type: string
      createDate:
        type: Date
      modifyDate:
        type: Date
  ArticleDto:
    type: object
    required:
      - creatorId
      - title
      - contents
    properties:
      id:
        type: number
      creatorId:
        type: number
      categoryId:
        type: number
      title:
        type: string
      viewCount:
        type: number
      likeCount:
        type: number
      tags:
        type: string
      contents:
        type: string
      isPublished:
        type: boolean
      createDate:
        type: Date
      modifyDate:
        type: Date
